* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
.navbar {
    background-color: #111;
    padding: 15px;
    display: flex;
  gap: 15px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
#hero {
    padding: 80px 20px;
    text-align: center;
    background-color: #f5f5f5;
}
section {
    padding: 40px 20px;
    animation: fadeUp 0.8s ease-in-out;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.container {
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
}

h2{
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}

#skills ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

a {
    color: #111;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.navbar a:hover {
  color: #f4c430;
}

.projects {
    max-width: 1000px;
    margin: auto;
    padding: 40px 20px;
}

.projects h1 {
    margin-bottom: 30px;
}

.project-card {
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
    
}

.project-card h3 {
    margin-top: 0;
}

.project-card a {
    font-weight: bold;
}
.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

#contact {
    margin-top: 40px;
}
/* ---------- RESPONSIVE DESIGN ---------- */
@media (max-width: 768px) {
    .navbar {
        text-align: center;
    }

    .navbar a {
        display: block;
        margin: 10px 0;
        
    }

    #hero {
        padding: 60px 15px;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    section {
        padding: 30px 15px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 15px;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }
}
